$text-black: #212121;
$text-grey: #757575;
$text-grey-op60: 255, 255, 255, 0, 6;
$text-white: #ffffff;
$blue: #2196f3;
$dop-page-color: #2f303a;
$page-color-op10: 245, 244, 250, 1;
$list-item-gap: 30px;
$social-icon-color: #afb1b8;
$social-footer-icon: rgba(255, 255, 255, 0.1);
