$text-black: #212121;
$text-grey: #757575;
$text-grey-op60: 255, 255, 255, 0, 6;
$text-white: #ffffff;
$blue: #2196f3;
$dop-page-color: #2f303a;
$page-color-op10: 245, 244, 250, 1;
$list-item-gap: 30px;
$social-icon-color: #afb1b8;
$social-footer-icon: rgba(255, 255, 255, 0.1);

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
address {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
